[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
bolt11 = {editable = true, path = "."}

[dev-packages]
black = "==20.8b1"
flake8 = "*"
flake8-mypy = "*"
pytest = "*"
pytest-cov = "*"
twine = "*"
